* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


/* Page actions container styling i.e Row no. 1 */
.page-actions-cont {
    height: 3rem;
    background-color: #218c74;
    display: flex; /* We have used display as flex, so that the text aligns in one line */
    align-items: flex-end;
    padding-left: 1rem;
}

.page-action {
    margin: 0.5rem;
    color: #f1f2f6;
}


/* Cell properties styling i.e Row no. 2 */
.cellprop-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cellprop-actions-cont > * { /* "> *" - iska matlab cellprop-actions-cont mai jo bhi aayega uske styling */
    display: inline-block;
    margin-right: 1rem;
}

.cellprop-actions-cont > *:hover { /* Here we are setting the cursor as pointer whenever mouse is hovering over the cell property's icons, like the bold icon, italic icon, font style, font size etc.. */
    cursor: pointer;
}

.cellprop-actions-cont > select {
    border: none;
    border-radius: 3px;
    outline: none; /* outline matlb jab ham woh font-family dropdown par click karte hai tab uspar ek black border aati hai jisko hamne none kiya hai */
}

.font-family-prop {
    padding: 0.2rem;
}

.font-size-prop {
    padding: 0.2rem;
}


/* Formula actions container styling i.e Row no. 3 */
.formula-actions-cont {
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-actions-cont > * {
    display: inline-block;
    margin-right: 0.7rem;
}


.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-bar {
    width: calc( 100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}

.formula-actions-cont > input {
    border: none;
    outline: none;
    height: 70%;
}


/* Sheet actions container styling i.e Last Row  */
.sheet-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}

.sheet-actions-cont > * {
    display: inline-block;
}

.sheet-add-icon {
    width: 2vw;
}

.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc(100vw - 2vw);
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.99rem;
}


.grid-cont {
    height: calc( 100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}

.top-left-dummy-box {
    height: 2rem;
    width: 2rem;
    background-color: #747d8c;
    position: fixed; /* Set the position property as fixed, so that the box should be fixed in one place whenever we are scrooling */
    z-index: 4; /* z-index property is basically only applied where we have position property used, it is to basically non overlap between 2 blocks */
}

.address-col-cont {
/* in address-col-container adding position as sticky, and othrt styling too so that whenever user scrools to left or right, the user will be able
to get to see all the row nos. from 1 to 100 whereever the user is scrooling */
    position: sticky;
    top: 2rem;
    left: 0;
    /* background-color: lightblue; */
}

.address-row-cont {
/* in address-row-container adding position as sticky, and other styling too so that whenever user scrools to down or up, the user will be able
to get to see all the column alphabets from A to Z whereever the user is scrooling */
    position: sticky;
    top: 0;
    left: 2rem;
    display: flex;
    /* background-color: lightpink; */
}

.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
    /* background-color: lightgreen; */
}

/* address-col is got from the script.js */
.address-col {
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* address-row is got from the script.js */
.address-row {
    height: 2rem;
    width: 5rem;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* cell property is got from the script.js */
.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none; /* We keep outline as null so that whenever we click on the cells we don't get to see any border, since border is already visible*/
}

/* row-cont property is got from the script.js */
.row-cont {
    display: flex;
}


.color-prop {
    position: relative;
}

.color-prop> input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}