* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-actions-cont {
    height: 3rem;
    background-color: lightgreen;
    display: flex; /* We have used display as flex, so that the text aligns in one line */
}

.cellprop-actions-cont {
    height: 3rem;
    background-color: lightsalmon;
}

.formula-actions-cont {
    height: 3rem;
    background-color: lightblue;
}

.sheet-actions-cont {
    height: 3rem;
    background-color: lightcoral;
}

.grid-cont {
    height: calc( 100vh - 3rem - 3rem - 3rem - 3rem);
}